.wrapper {
	display: flex;
	place-items: center;
	border-end-start-radius: 0.5rem;
	box-sizing: border-box;
	padding: 0.5rem;
	margin-inline-start: 10px;
}
.switch {
	width: 4.2rem;
	height: 2.2rem;
	background-color: #000;
	display: flex;
	border-radius: 50px;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	padding-block: 1.02rem;
	box-sizing: border-box;
	border: 2px solid var(--fourth-color);
	box-shadow: 0 0 0.3375rem var(--box-shadow-color);
	background-color: var(--secondary-color);
}
.handle {
	width: 1.7rem;
	height: 1.7rem;
	background-color: var(--third-color);
	border: 1px solid var(--fourth-color);
	border-radius: 40px;
	box-sizing: border-box;
	&[data-ison="light"] {
		margin-inline-start: 3px;
	}

	&[data-ison="dark"] {
		margin-inline-end: 3px;
	}
}
