.projectsSection {
	display: grid;
	margin-block: 1.3rem;
	margin-inline: 0.5rem;
	gap: 1rem;

	@media screen and (min-width: 1136px) {
		grid-template-columns: 1fr 1fr;
		margin-block: 1.5rem;
		margin-inline: 8rem;
		gap: 2rem;
	}
}
