.footer {
    background-color: var(--secondary-color);
    transition: background-color 0.5s ease;
    border-block-start: 1px solid var(--fourth-color);
    min-height: 5vh;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    div {
        margin-block: 1em;
    }
}