.footer {
    background-color: var(--primary-color);
    transition: background-color 0.5s ease;
    border-block-start: 1px solid var(--fourth-color);
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    div {
        margin-block: 1rem;
    }
}