// SVGs

.svgColorFill {
    fill: var(--button-color);
    transition: stroke;
}
.svgColorStroke {
    stroke: var(--button-color);
    transition: stroke;
}

// Page

.aboutSection {
    display: grid;
    padding-inline: 1rem;
    padding-block: 1rem;
    row-gap: 1.7rem;
    text-align: center;
    @media screen and (min-width: 1136px) {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 0.75fr;
        justify-content: center;
        align-items: center;
        column-gap: 1rem;
        height: 100%;
    }
}
.photo {
    width: 90%;
    height: auto;
    margin-inline: auto;
    grid-row: 1/2;
    grid-column: 1/2;
    border-radius: 50%;
    filter: grayscale(var(--grey-scale));
    border: 2px solid var(--fourth-color);
    @media screen and (min-width: 1136px) {
        width: 85%;
        grid-row: 1/2;
        grid-column: 2/3;
    }
}
.placeholder {
    background-color: var(--placeholder);
}
.about {
    display: grid;
    grid-row: 2/3;
    grid-column: 1/2;
    row-gap: 2rem;
    @media screen and (min-width: 1136px) {
        grid-row: 1/2;
        grid-column: 1/2;
    }
}
.title {
    font-size: 1.8rem;
    margin-block-start: 0.5rem;
    @media screen and (min-width: 1136px) {
        margin-block: auto;
    }
}
.list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-block-start: 2rem;
    row-gap: 1rem;
    margin-inline: auto;
    @media screen and (min-width: 1136px) {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.socialsButton {
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    @media screen and (min-width: 1136px) {
        margin-inline: auto;
    }
    &:hover {
        .socialName {
            color: var(--button-color-hover);
        }
        .svgColorFill {
            fill: var(--button-color-hover);
        }
        .svgColorFillInverted {
            fill: var(--button-color-hover);
        }
        .svgColorStroke {
            stroke: var(--button-color-hover);
        }
        .svgColorStrokeInverted {
            stroke: var(--button-color-hover);
        }
        transform: scale(1.05);
    }
    svg {
        margin-inline: auto;
    }
}
.socials {
    margin-block: auto;
    border-block-start: 1px solid var(--fourth-color);
    @media screen and (min-width: 1136px) {
        border: 0;
    }
}
.socialName {
    color: var(--button-color);
    margin-block: auto;
    font-size: 1.4rem;
    font-weight: bold;
    margin-inline-start: 0.2rem;
}
.description {
    margin-inline: auto;
    font-size: 1.3rem;
    width: 90%;
    @media screen and (min-width: 1136px) {
        margin-block: auto;
    }
}
