//Svgs

.svgColorFill {
    fill: var(--text-color);
    transition: stroke 0.3s;
}
.svgColorStroke {
    stroke: var(--text-color);
    transition: stroke 0.3s;
}
.svgColorFillInverted {
    fill: var(--primary-color);
    transition: stroke 0.3s;
}
.svgColorStrokeInverted {
    stroke: var(--primary-color);
    transition: stroke 0.3s;
}

.projectCard {
    display: grid;
    border-radius: 0.5rem;
    background-color: var(--third-color);
    margin-inline: 0.5rem;
    @media screen and (min-width: 1136px) {
        margin-inline: 2rem;
    } 
}
.title {
    grid-row: 1/2;
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    margin-block: 3vh;
}
.presentation {
    display: grid;   
    grid-row: 2/3;
    position: relative;
    margin-inline: auto;
    justify-content: center;
    row-gap: 1.5rem;
    white-space: nowrap;
    @media screen and (min-width: 1136px) {
        grid-template-columns: 1fr 0.4fr;
    }
}
.details {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-block: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-inline: auto;
    @media screen and (min-width: 1136px) {
        grid-row: 1/2;
        grid-column: 2/3;
        
        margin-inline: unset;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
}
.image {
    grid-row: 1/2;
    grid-column: 1/2;
    border-radius: 0.5rem;
    width: 90%;
    height: auto;
    margin-inline: auto;
    @media screen and (min-width: 1136px) {
        width: 80%;
        margin-inline: auto;
    }
}
.placeholder {
    background-color: grey;
}
.about {
    grid-row: 3/4;
    margin-block-start: 1.5em;
    margin-inline: 1.5rem;
    margin-block-end: 1.5rem;
    text-align: center;
    @media screen and (min-width: 1136px) {
        margin-inline: 5rem;
    }
}
.category {
    all: unset;
    display: flex;
    margin-block-start: 0.6rem;
    font-size: 1.2rem;
    margin-inline-end: 1rem;
    span {
        margin-block: auto;
        margin-inline-start: 0.3rem;
        font-weight: bold;
    }
    @media screen and (min-width: 1136px) {
        display: flex;
        flex-direction: row;
    }   
}
.link {
    cursor: pointer;
    &:hover {
        .socialName {
            color: var(--button-color-hover);
        }
        .svgColorFill {
            fill: var(--button-color-hover);
        }
        .svgColorFillInverted {
            fill: var(--button-color-hover);
        }
        .svgColorStroke {
            stroke: var(--button-color-hover);
        }
        .svgColorStrokeInverted {
            stroke: var(--button-color-hover);
        }
        color: var(--button-color-hover);
    }
}
