:root {
    --primary-color: #0B0C0F;
    --secondary-color: #2B303B;
    --third-color: #656464;
    --fourth-color: #4c4e54;

    --text-color: #ffffff;
    --clickable-color: #f3c3c3;

    --button-color: #2d2476;
    --button-color-hover: #567fe8;
}
[data-theme="light"] {
    --primary-color: #FFFFFF;
    --secondary-color: #E2E4E9;
    --third-color: #D3D3D3;
    --fourth-color: #b7bac0;

    --text-color: #363C49;
    --clickable-color: #2D6A9F;

    --button-color: #f1faee;
    --button-color-hover: #96aeec;
}
html, body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
}
body {
    background-color: var(--primary-color);
    color: var(--text-color);
    -webkit-transition: background-color 300ms linear, color 1s linear;
    -moz-transition: background-color 300ms linear, color 1s linear;
    -o-transition: background-color 300ms linear, color 1s linear;
    -ms-transition: background-color 300ms linear, color 1s linear;
    transition: background-color 300ms linear, color 1s linear;
}
#__next {
    display: grid;
    min-height: 100vh;
}