* {
    -webkit-transition: background-color 200ms linear, color 20ms linear;
    -moz-transition: background-color 200ms linear, color 20ms linear;
    -o-transition: background-color 200ms linear, color 20ms linear;
    -ms-transition: background-color 200ms linear, color 20ms linear;
    transition: background-color 200ms linear, color 20ms linear;
}

:root {
    --primary-color: #2b303b;
    --secondary-color: #3b4251ce;
    --third-color: #18181b;
    --fourth-color: #4c4e54;

    --text-color: #ffffff;
    --clickable-color: #4692d3;

    --button-color: #567fe8;
    --button-color-hover: #b3345c;

    --grey-scale: 10%;
    --placeholder: rgba(128, 128, 128, 0);
}
[data-theme="light"] {
    --primary-color: #e5e5e5;
    --secondary-color: #fafafa;
    --third-color: #d3d3d3;
    --fourth-color: #b7bac0;

    --text-color: #000;
    --clickable-color: #2d6a9f;

    --button-color: #567cdb;
    --button-color-hover: #b3345c;

    --grey-scale: 0;
    --placeholder: rgba(128, 128, 128, 0);
}
body {
    all: unset;
    min-height: 100dvh;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: system-ui, sans-serif;
}
#__next {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: min-content 1fr min-content;
    background-color: var(--secondary-color);
}
html {
    scrollbar-width: thin; /* For Firefox */
    overflow-y: scroll; /* For other browsers */
}

/* For WebKit browsers */
::-webkit-scrollbar {
    width: 12px; /* Adjust width as needed */
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--text-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--clickable-color);
}
