:root {
    --primary-color: #2B303B;
    --secondary-color: #3b4251ce;
    --third-color: #18181b;
    --fourth-color: #4c4e54;

    --text-color: #ffffff;
    --clickable-color: #4692d3;

    --button-color: #567fe8;
    --button-color-hover: #b3345c;

    --grey-scale: 10%;
    --placeholder: grey;
}
[data-theme="light"] {
    --primary-color: #e5e5e5;
    --secondary-color: #fafafa;
    --third-color: #D3D3D3;
    --fourth-color: #b7bac0;

    --text-color: #000;
    --clickable-color: #2D6A9F;

    --button-color: #567cdb;
    --button-color-hover: #b3345c;

    --grey-scale: 0;
    --placeholder: grey;
}
html {
    overflow-y: scroll;
    overflow-x: hidden;
}
html, body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: system-ui, sans-serif;
    line-height: 1.7em;
}
body {
    color: var(--text-color);
    -webkit-transition: background-color 300ms linear, color 0.5s linear;
    -moz-transition: background-color 300ms linear, color 0.5s linear;
    -o-transition: background-color 300ms linear, color 0.5s linear;
    -ms-transition: background-color 300ms linear, color 0.5s linear;
    transition: background-color 300ms linear, color 0.5s linear;
}
#__next {
    display: grid;
    grid-template-rows: 8vh min-content 5vh;
    background-color: var(--secondary-color);
}