:root {
    --primary-color: #0B0C0F;
    --secondary-color: #2B303B;
    --third-color: #3b4251ce;
    --fourth-color: #4c4e54;

    --text-color: #ffffff;
    --clickable-color: #4692d3;

    --button-color: #567fe8;
    --button-color-hover: #b3345c;

    --grey-scale: 10%;
    --placeholder: grey;
}
[data-theme="light"] {
    --primary-color: #FFFFFF;
    --secondary-color: #E2E4E9;
    --third-color: #D3D3D3;
    --fourth-color: #b7bac0;

    --text-color: #000;
    --clickable-color: #2D6A9F;

    --button-color: #567cdb;
    --button-color-hover: #b3345c;

    --grey-scale: 0;
    --placeholder: grey;
}
html {
    overflow-y: scroll;
    overflow-x: hidden;
}
html, body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
}
body {
    background-color: var(--primary-color);
    color: var(--text-color);
    -webkit-transition: background-color 300ms linear, color 1s linear;
    -moz-transition: background-color 300ms linear, color 1s linear;
    -o-transition: background-color 300ms linear, color 1s linear;
    -ms-transition: background-color 300ms linear, color 1s linear;
    transition: background-color 300ms linear, color 1s linear;
}
#__next {
    display: grid;
    min-height: 100vh;
    background-color: var(--secondary-color);
}