.wrapper {
    margin-block: 2rem;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar {
    ul {
        all: unset;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-inline-start: 2rem;
        @media screen and (min-width: 800px) {
            gap: 1.6rem;
            margin-inline-start: 49%;
        }
        a {
            all: unset;
            text-transform: uppercase;
            cursor: pointer;
            font-weight: bold;
            font-size: 1.1rem;
            color: var(--text-color);
            &:hover {
                color: var(--clickable-color);
                border-block-end: 0.1rem solid var(--fourth-color);
            }
            @media screen and (min-width: 800px) {
                font-size: inherit;
            }
        }
    }
}

